<h1>Overview</h1>
<table class="table">
    <thead>
        <tr>
            <th>CategoryName</th>
            <th>Category Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Beverages</td>
            <td>Limonade, wine, beer</td>
            <td>
                <a>Products</a>
            </td>
        </tr>
    </tbody>
</table>